body {
  margin: 0;
  display: block;
  font-family: 나눔스퀘어;
}
header {
  text-align: center;
}
.main_header {
  padding: 20px;
  padding-bottom: 0;
  margin: auto;
}
.main_header > * {
  display: inline-block;
  vertical-align: middle;
}
nav {
  font-weight: 700;
  width: 100%;
  padding: 50px;
  padding-top: 10px;
  padding-left: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  background-color: rgba(200, 229, 145, 0.534);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-menu > li {
  float: left;
  position: relative;
}
#main-menu > li > a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 10px 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
/* sub menu */
#sub-menu {
  position: absolute;
  background: rgb(212, 228, 184);
  visibility: hidden;
  transition: all 0.1s ease-in;
}
#sub-menu > li {
  padding: 10px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#sub-menu > li > a {
  font-weight: 800;
  color: rgba(30, 53, 0, 0.6);
  text-decoration: none;
}
#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}
#sub-menu > li > a:hover {
  color: rgb(251, 255, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
div {
  display: block;
}
.main_container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}
.content {
  width: 80%;
  height: 900px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  background-color: rgba(219, 215, 215, 0.411);
  border-radius: 20px;
}
h3 {
  text-align: left;
}
p {
  text-align: left;
}
