body {
  margin: 0;
  display: block;
  font-family: 나눔스퀘어;
  text-align: center;
}
header {
  text-align: center;
}
.main_header {
  padding: 20px;
  padding-bottom: 0;
  margin: auto;
}
.main_header > * {
  display: inline-block;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.navigation {
  font-weight: 700;
  width: 100%;
  padding: 35px;
  padding-top: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 50px;
  background-color: rgba(200, 229, 145, 0.534);
}
h2 {
  text-align: left;
  padding-left: 100px;
}
.a {
  border-collapse: collapse;
  padding: 10px;
  border: 1px solid #333333;
}
th {
  padding: 10px;
  border: 1px solid #333333;
}
td {
  padding: 10px;
  border: 1px solid #333333;
}
ul.nav {
  position: relative;
  text-transform: none;
}
li.nav_item {
  list-style-type: none;
  float: left;
  padding-left: 30px;
}
li.nav_item::before {
  content: "|";
  padding-right: 20px;
  color: darkgray;
}
li.nav_item:first-child::before {
  content: none;
}
a {
  text-decoration: none;
}
div {
  display: block;
}
.main_container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  width: 70%;
  height: 700px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(219, 215, 215, 0.411);
  border-radius: 20px;
}
.content {
  min-height: 250px;
}
.main-slide {
  padding-top: 20px;
  text-align: center;
}
.container {
  width: 970px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container::before {
  display: table;
  content: " ";
}
.container::after {
  clear: both;
}
.main_icon {
  background: cyan;
  height: 100%;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-link-wrap {
  float: center;
  width: 50%;
}
.main-link-wrap ul {
  list-style: none;
  padding: 0;
}
.main-link-wrap li {
  float: left;
  padding: 30px;
  margin-bottom: 10px;
}
