body {
  margin: 0;
  display: block;
  font-family: 나눔스퀘어;
  text-align: center;
}
/* nav 위까지 */
header {
  text-align: center;
}
.main_header {
  padding: 20px;
  padding-bottom: 0;
  margin: auto;
}
.main_header > * {
  display: inline-block;
  vertical-align: middle;
}
/* navigation bar */
nav {
  font-weight: 700;
  width: 100%;
  padding: 50px;
  padding-top: 10px;
  padding-left: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  background-color: rgba(200, 229, 145, 0.534);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-menu > li {
  float: left;
  position: relative;
}
#main-menu > li > a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 10px 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
/* sub menu */
#sub-menu {
  position: absolute;
  background: rgb(212, 228, 184);
  visibility: hidden;
  transition: all 0.1s ease-in;
}
#sub-menu > li {
  padding: 10px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#sub-menu > li > a {
  font-weight: 800;
  color: rgba(30, 53, 0, 0.6);
  text-decoration: none;
}
#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}
#sub-menu > li > a:hover {
  color: rgb(251, 255, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
/* body 부분 */
table {
  border: 1px solid #444444;
  border-collapse: collapse;
  margin-top: 5%;
}
th {
  padding: 10px;
  border: 1px solid #333333;
}
td {
  padding: 10px;
  border: 1px solid #333333;
}
thead {
  font-weight: 700;
  background-color: rgba(184, 224, 109, 0.356);
}
tbody {
  background-color: rgba(255, 255, 255, 0.7);
}
.main_container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}
.row {
  width: 70%;
  height: auto;
  padding-bottom: 10%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(219, 215, 215, 0.411);
  border-radius: 20px;
}
.content {
  min-height: 250px;
}
.calendar {
  width: 40%;
  height: 50%;
  padding-right: 15px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 10%;
  text-align: center;
  float: left;
}
.main-icon {
  width: 30%;
  position: relative;
  float: right;
  padding-right: 50px;
}
@media screen and (max-width: 767px) {
  body {
    width: auto;
  }
  .calendar {
    width: auto;
    float: none;
  }
  .main-icon {
    width: auto;
    float: none;
  }
}
