body {
  margin: 0;
  display: block;
  font-family: 나눔스퀘어;
  text-align: center;
}
header {
  text-align: center;
}
.main_header {
  padding: 20px;
  padding-bottom: 0;
  margin: auto;
}
.main_header > * {
  display: inline-block;
  vertical-align: middle;
}
nav {
  font-weight: 700;
  width: 100%;
  padding: 50px;
  padding-top: 10px;
  padding-left: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  background-color: rgba(200, 229, 145, 0.534);
}
#main-menu > li {
  float: left;
  position: relative;
}
#main-menu > li > a {
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 10px 50px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#main-menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
/* sub menu */
#sub-menu {
  position: absolute;
  background: rgb(212, 228, 184);
  visibility: hidden;
  transition: all 0.1s ease-in;
  z-index: 100;
}
#sub-menu > li {
  padding: 10px 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#sub-menu > li > a {
  font-weight: 800;
  color: rgba(30, 53, 0, 0.6);
  text-decoration: none;
}
#main-menu > li:hover #sub-menu {
  opacity: 1;
  visibility: visible;
}
#sub-menu > li > a:hover {
  color: rgb(251, 255, 0);
}
a {
  text-decoration: none;
  color: inherit;
}
div {
  display: block;
}
.main_container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
.content {
  width: 80%;
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(219, 215, 215, 0.411);
  border-radius: 20px;
}

/* 게시판 행 간격 */
.main_container {
  line-height: 2em;
}
ul,
li {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
#mainWrapper {
  width: 80%;
  margin: 0 auto; /*가운데 정렬*/
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(219, 215, 215, 0.411);
  border-radius: 20px;
}
#mainWrapper #title {
  padding-top: 10px;
  font-weight: bold;
}
#mainWrapper > ul > li:first-child {
  text-align: center;
  font-size: 14pt;
  height: 40px;
  vertical-align: middle;
  line-height: 30px;
}
#ulTable {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
#ulTable > li:first-child > ul > li {
  background-color: rgba(200, 229, 145, 0.534);
  font-weight: bold;
  text-align: center;
}

#ulTable > li > ul {
  clear: both;
  padding: 0px auto;
  position: relative;
  min-width: 40px;
}
#ulTable > li > ul > li {
  float: left;
  font-size: 10pt;
  border-bottom: 1px solid rgb(163, 163, 163);
  vertical-align: baseline;
  background-color: rgb(247, 247, 247);
}

/* 열 크기 설정 */
/*No 열 크기*/
#ulTable > li > ul > li:first-child {
  width: 10%;
}
/*제목 열 크기*/
#ulTable > li > ul > li:first-child + li {
  width: 45%;
}
/*작성일 열 크기*/
#ulTable > li > ul > li:first-child + li + li {
  width: 20%;
}
/*작성자 열 크기*/
#ulTable > li > ul > li:first-child + li + li + li {
  width: 15%;
}
/*조회수 열 크기*/
#ulTable > li > ul > li:first-child + li + li + li + li {
  width: 10%;
}

/* 게시판 페이징 */
#divPaging {
  clear: both;
  margin: 0 auto;
  width: 220px;
  height: 50px;
  padding-top: 20px;
}
#divPaging > div {
  float: left;
  width: 30px;
  margin: 0 auto;
  text-align: center;
}

/* 검색 폼 */
#liSearchOption {
  clear: both;
}
#liSearchOption > div {
  margin: 0 auto;
  margin-top: 30px;
  width: auto;
  height: 100px;
}
.left {
  text-align: left;
}
